body{
    background-color:#F2F2F2;
}

/* Header */
header{
    margin-top: 0px;
    width: 100%;
    background-color: #7A7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper-header{
    width: 100%;
    margin: 10px 0px 10px 20px;
}

header .contanier-header-h1{
    display: inline-block;
    border: 1px solid #1C1C1C; 
    border-radius: 20%;
    text-align: left;
}

header h1{
    font-size: 22px;
    padding: 10px;
    color: #1C1C1C;
}

/* wrapper */

.wrapper-body{
    background-color: #F2F2F2;
    margin: 0 auto; 
    width: 100%;
    padding-top: 0px;
}


/* Articles */

.contanier-artical{
    margin-bottom: 10px;
    padding-bottom: 12px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

img{
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.contanier-artical h1{
    font-size: 22px;
    margin: 10px 10px 20px 10px;
    line-height: 1.2;
    text-decoration: underline;
    text-align: left;
}

.contanier-artical p{
    margin: 0px 10px 20px 12px;
    font: 12px arial; 
    line-height: 1.3;
    text-align: left;
}

.contanier-author-datestamp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contanier-like-count{
    background-color: #1C1C1C;
    width: 85px;
    margin-left: 10px;
    padding: 3px 0px 3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fas{
    color: #F2F2F2;
}

.contanier-like-count p{
    margin: 0px 0px 0px 4px;
    color:  #F2F2F2;
    
}

 /* Footer */

 .container-footer{
     background-color: #7A7A7A;
     width: 100%;
     height: 50px;
     margin: 5px 0px 0px 0px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .container-footer p{
    font: 14px arial solid;
    padding-left: 5px;
 }





@media only screen and (min-width: 480px){
    body{
        margin-top: 40px;
    }
    
    /* Header */
    header{
        position: fixed;
        top: 0;
    }
    
    .wrapper-header{
        width: 70%;
        margin: 10px 0px 10px 20px;
    }
    
    
    header h1{
        font-size: 38px;
    }
    
    /* wrapper */
    
    .wrapper-body{
        margin: 0 auto; 
        width: 70%;
        padding-top: 20px;
    }
    
    
    /* Articles */
    
    .contanier-artical{
        margin: 20px 10px 0px 10px;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
        border-radius: 10px;
    }
    
    img{
        height: 300px;
    }
    
    .contanier-artical h1{
        font-size: 34px;
        margin: 10px;
        line-height: 1.2;
    }
    
    .contanier-artical p{
        margin: 0px 10px 10px 12px;
        font: 14px arial; 
        line-height: 1.3;
    }

    .contanier-like-count p{
        margin: 0px 0px 0px 4px;
    }


    /* Footer */

    .container-footer{
        height: 60px;
        margin: 20px 0px 0px 0px;
    }

    .container-footer p{
        font: 18px arial solid;
        padding-left: 10px;
    }
}




@media only screen and (min-width: 992px){
    

    /* Header */

    .wrapper-header{
        width: 50%;
    }
    
    
    /* wrapper */
    
    .wrapper-body{
        width: 50%;
    }
    
    
    /* Articles */
    

    /* Footer */

    .container-footer{
        height: 100px;
    }

    .container-footer p{
        font: 24px arial solid;
    }
        
}



